<div class="top-info-bar">
    <span><i class="bi bi-truck"></i>Бесплатная доставка от 5 000 ₽</span>
    <span><i class="bi bi-shield-check"></i>Гарантия на все запчасти</span>
    <span><i class="bi bi-telephone"></i>8 800 123-45-67</span>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span class="brand-auto">Авто</span><span class="brand-store">Маркет</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-4 me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-house-fill"></i> Главная
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/products">
                        <i class="bi bi-tools"></i> Каталог
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/cart">
                        <i class="bi bi-cart3"></i> Корзина
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/orders">
                        <i class="bi bi-receipt"></i> Заказы
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
